<header>
  <div class="container">
   <div class="container_header">
    <div class="header_logo">
      <a href="/" class="header_logo-link">
      <img src="/assets/images/Logo.svg" alt="" class="header_logo-pic">
      </a>
    </div>
      <nav class="header_nav">
        <ul class="header_list">
          <li class="header_item">
            <a href="/" class="header_item">About</a>
          </li>
          <li class="header_item">
            <a href="/" class="header_item">Event</a>
          </li>
          <li class="header_item">
            <a href="/" class="header_item">Blog</a>
          </li>
          <li class="header_item">
            <a href="/" class="header_item">Services</a>
          </li>
        </ul>
      </nav>
      <form action="/" class="header_button">
        <input type="submit" value="Sign up">
      </form>
   
  </div>
</header>
