<header>
<div class="container">
  <div class="container_header">
    <nav class="header_nav">
      <ul class="header_list">
        <li class="header_item">
          <a href="/" class="header_link">Home</a>
        </li>
        <li class="header_item">
          <a href="/" class="header_link">About</a>
        </li>
        <li class="header_item">
          <a href="/" class="header_link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header_logo">
      <a href="/" class="header_link">
      <img class="header_pic" src="/assets/images/Logo/Landie.svg" alt="logo"></a>
    </div>
    <form class="header_form" action="/" method="post">
      <input class="header_btn" type="submit" value="Buy Now">
    </form>
  </div>
</div>
</header>
