@mixin header_style {
  font-family: Roboto;
   font-size: 14px;
  line-height: 24px;
  color: #505F98;
  text-decoration: none;
  }

.container_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
  align-items: flex-end;

}
.header_list {
  display: flex;
  flex: 1
  
}
.header_item {
  padding-left: 40px;
}
.header_link {
  @include header_style;

}


.header_btn {
  width: 160px;
  height: 26px;
  background-color: #111B47;
  color: white;
  font-size: 12px;
line-height: 18px;
border-radius: 4px;
border: none;

}
